div.itemheader { padding: 2px; background-color: lightgoldenrodyellow; border-bottom: 1px solid lightgrey; margin-left: 2px; margin-right: 2px }
table.itemheader { border: none; border-collapse: collapse; width: 100%; table-layout: fixed }
td.star { width: 20px; }
td.title { white-space: nowrap; overflow: hidden }
td.controls { font-size: 70% }
div.star { font-size: 20px; }
div.star:hover { cursor: pointer }
div.itemcontent { padding: 5px }